.image-container {
    top: 5rem;
    position: absolute;
    display: flex;
    right: 8rem;
}
img.i0 {
    max-width: 274px;
}

.skills {
    margin-left: 5rem;
}


.hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}
.hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
}
.hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
    transform: translate(102px0);
    opacity: 0;
}
.hamburger.is-active .hamburger__inner {
    display: none;
}
.hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}
.hamburger__inner::before {
    top: -13px;
}
.hamburger__inner::after {
    top: 13px;
}
.hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
    transform: translate(0 13px) rotate(90deg);
    transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #edff22;
    top: 50%;
    transform: translate(51px-50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #edff22;
    content: "";
    transform: translate(102px0);
}
.hamburger__hidden::before {
    top: -13px;
}
.hamburger__hidden::after {
    top: 13px;
}


body{
    background-color: #081c16;
}

nav {
    display: flex;
    justify-content: space-around;
}

body > nav > div:nth-child(1) {
    color: #EBE645;
    font-family: 'Almarena Display', Georgia, sans-serif;
    font-size: xxx-large;
    font-weight: 900;
}

body > nav > div:nth-child(2){
    padding-top: 1.3rem;
}

a {
    font-size: 1.2rem;
    font-family: 'Almarena Display', Georgia, sans-serif;
    margin: 1rem;
    color: #fff;
    text-decoration: none;
}

.hero-socials__wrapper {
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: Almarena, Arial, sans-serif;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 400;
    box-sizing: border-box;
    position: absolute;
    left: auto;
    top: 21rem;
    right: 4rem;
    z-index: 5;
    display: flex;
    width: 2rem;
    height: 28rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    transform: translate(0px, -50%);
}

.hero-socials__item {
    display: inline;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #838d8a;
    font-size: 1.25rem;
}

#container {
    z-index: 9999999;
    top: 10rem;
    position: absolute;
    width: fit-content;
    color: #999;
    text-transform: uppercase;
    font-size: 3.23rem;
    font-weight: bold;
    margin: 0px 13rem;
    font-family: 'Rowdies', cursive;
}

#flip{
    height: 107px;
    overflow: hidden;
}

#flip>div>div {
    color: #081c16;
    padding: 0px 12px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child{
    animation: show 5s linear infinite;
}

#flip div div {
    background: #4ec7f3;
}

#flip div:first-child div{
    background: #dc143c;    
}

#flip div:last-child div{
    background: #42c58a;
}

@keyframes show{
    0%{margin-top: -270px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    99.99%{margin-top: 0px;}
   
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

h1.h1 {
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #fff;
    box-sizing: border-box;
    margin: .67em 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-family: 'Rowdies', cursive;
    line-height: 0.95;
    font-weight: initial;
    text-transform: uppercase;
    font-size: clamp(4rem, 8vw, 10rem);
    opacity: 1;
}

section.s1 {
    position: relative;
    display: flex;
}

name {
    font-size: xxx-large;
}

fame {
    color: #edff22;
    text-transform: capitalize;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    padding-bottom: 50px;
    padding-top: 50px;
}

video {
    width: -webkit-fill-available;
}
.video {
    z-index: 0;
    top: -7rem;
    position: absolute;
    right: 2rem;
    display: flex;
    max-width: 835px;
}
